.swiper {
  width: 100%;
  height: 100%;
}

.swiper-slide {
  text-align: center;
  font-size: 18px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.swiper-slide img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.swiper-button-next,
.swiper-button-prev {
  margin: 20px;
  color: black;
  position: absolute;
  top: 80px;
}
.swiper-button-next::after,
.swiper-button-prev::after {
  color: black;
  font-size: 30px;
}

